/* Elimina cualquier margen, padding o borde de Leaflet y del body/html para que el mapa ocupe toda la pantalla sin espacios */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaflet-container {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  height: 100vh !important;
  width: 100vw !important;
  top: 0 !important;
  left: 0 !important;
}
